.inactivityWarningContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.inactivityWarning {
    background-color: #fff;
    padding: 1em;
    border-radius: .4em;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.inactivityWarning h2 {
    font-size: clamp(1.2em, 3vw, 1.5em);
    font-weight: bold;
    color: red;
}

.inactivityWarning p {
    font-size: clamp(.9em, 3vw, 1.1em);
}

.inactivityWarning button {
    font-size: clamp(.8em, 3vw, 1em);
    background-color: #007bff;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: .4em;
    padding: .4em 1em;
    cursor: pointer;
}