.loginContainer {
  width: 100%;
  max-width: 36em;
  margin: 0 auto;
  padding: 3em 2em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: .4em;
}

.loginContainer h2 {
  font-size: clamp(1.2em, 3vw, 1.5em);
  font-weight: bold;
  color: #4e68ff;
  margin-bottom: .5em;
  text-align: center;
}

.loginContainer p {
  font-size: clamp(.8em, 3vw, 1.1em);
  text-align: center;
  margin-bottom: 1em;
}

.loginContainer a {
  font-size: clamp(.9em, 3vw, 1.1em);
  color: orange;
  text-decoration: none;
}

.loginContainer a:hover {
  text-decoration: underline;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.passwordWrapper {
  display: flex;
  position: relative;
  align-items: center;
}

.passwordToggleIcon {
  position: absolute;
  right: .5em;
  background: none;
  border: none;
  cursor: pointer;
  font-size: clamp(.9em, 3vw, 1.2em);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm input {
  width: 100%;
  padding: .5em .8em;
  font-size: clamp(.9em, 3vw, 1.1em);
  border: 1px solid #ccc;
  border-radius: .4em;
  transition: border-color 0.2s ease-in-out;
}

.loginForm input::placeholder {
  font-size: clamp(.9em, 3vw, 1.1em);
}

.loginForm input:focus {
  outline: none;
  border-color: #4e68ff;
}

.forgotPassword {
  text-align: right;
  margin-bottom: 1em;
}

.loginButton {
  width: 100%;
  padding: .5em;
  background-color: #4e68ff;
  font-size: clamp(.9em, 3vw, 1.1em);
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: .4em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.loginButton:hover {
  background-color: #3d57e6;
}

.error {
  color: #d82323;
  font-size: clamp(.9em, 3vw, 1.1em);
}

.popup {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

.icon {
  font-size: clamp(.5em, 2vw, 1em);
  margin: 0 auto;
}

.errorTitle {
  font-size: clamp(1.2em, 3vw, 1.8em);
  padding: 0;
  color: #d82323;
}

.successTitle {
  font-size: clamp(1.2em, 3vw, 1.8em);
  padding: 0;
  color: #A5DC86;
}

.text {
  font-size: clamp(.9em, 3vw, 1.1em);
  padding: 0;
  font-weight: bold ! important;
}

.confirmButton {
  padding: .4em 3em;  
  margin: 0;
  background-color: #3d57e6;
  color: white;
  font-size: clamp(.9em, 3vw, 1.1em);
  font-weight: bold;
  border-radius: .4em;
  cursor: pointer;
}

.confirmButton:hover {
  background-color: orange;
}