.container {
  text-align: left;
  padding: 2em;
}

.title {
  color: #5c3ac7;
  font-size: clamp(1.5em, 3vw, 2em);
  font-weight: bold;
  margin-bottom: .5em;
}

.container p {
  font-size: clamp(.9em, 3vw, 1.1em);
}

.link {
  color: orange;
  font-weight: bold;
  margin-bottom: .1em;
}

.button {
  background-color: orange;
  border: none;
  padding: .5em 1em;
  color: white;
  cursor: pointer;
  font-size: clamp(.9em, 3vw, 1.1em);
  margin-top: .5em;
  border-radius: .4em;
}

.button:hover {
  background-color: darkorange;
}