.authContainer {
  padding: 5vw 0;
  background: url("../../assets/Images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.authContent {
  max-width: 75em;
  margin: 0 auto;
  padding: 0 1em;
}