.forgotPasswordContainer {
    max-width: 75em;
    margin: 0 auto;
    padding: 3em 1em 5vw 1em;
}

.forgotPassword {
    margin: 0 auto;
    margin-bottom: 6em;
    padding: 2em 1em 5em 1em;
    background-color: white;
    width: 100%;
    max-width: 30em;
    border-radius: .4em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.forgotPassword h2 {
    font-size: clamp(1.2em, 3vw, 1.5em);
    font-weight: bold;
    color: #4e68ff;
    margin-bottom: 1em;
    text-align: center;
}

.forgotPassword p {
    font-size: clamp(.9em, 3vw, 1.1em);
    margin-bottom: 1em;
}

.formError {
    color: #d82323;
    font-size: clamp(.8em, 3vw, 1em);
}

.forgotPassword input {
    width: 100%;
    margin-bottom: 1em;
    padding: .5em;
    border: 1px solid #ccc;
    border-radius: .4em;
    font-size: clamp(.9em, 3vw, 1.1em);
}

.resetPassword input::placeholder {
    font-size: clamp(.9em, 3vw, 1.1em);
    font-style: italic;
    color: #ccc;
}

.forgotPassword button {
    width: 100%;
    padding: .5em 1em;
    background-color: #4e68ff;
    font-size: clamp(.9em, 3vw, 1.1em);
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: .4em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.forgotPassword button:hover {
    background-color: #e5670a;
}

.popup {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.icon {
    font-size: clamp(.5em, 2vw, 1em);
    margin: 0 auto;
}

.errorTitle {
    font-size: clamp(1.2em, 3vw, 1.8em);
    padding: 0;
    color: #d82323;
}

.successTitle {
    font-size: clamp(1.2em, 3vw, 1.8em);
    padding: 0;
    color: #A5DC86;
}

.text {
    font-size: clamp(.9em, 3vw, 1.1em);
    padding: 0;
    font-weight: bold !important;
}

.confirmButton {
    padding: .4em 3em;
    margin: 0;
    background-color: #4e68ff;
    color: white;
    font-size: clamp(.9em, 3vw, 1.1em);
    font-weight: bold;
    border-radius: .4em;
    cursor: pointer;
}

.confirmButton:hover {
    background-color: orange;
}