.mainContent {
  width: 100%;
  max-width: 75em;
  margin: 0 auto;
  padding: 1em;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer button {
  padding: .5em 1em;
  background-color: #4e68ff;
  font-size: clamp(.9em, 3vw, 1.1em);
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: .4em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.headerContainer button:hover {
  background-color: #e5670a;
}

.mainContent h2 {
  font-size: clamp(1.2em, 3vw, 1.5em);
  font-weight: bold;
}

.span {
  color: #fe750b;
  font-style: oblique;
  margin-right: .4em;
}

.searchContainer {
  margin: 1rem 0;
  text-align: center;
}

.searchContainer input {
  padding: .5em .8em;
  width: 100%;
  max-width: 40em;
  border-radius: .4em;
  border: 1px solid #ccc;
  font-size: clamp(.9em, 3vw, 1.1em);
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.searchContainer input:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #fe750b;
}

.searchContainer input::placeholder {
  color: #999;
  font-style: italic;
  font-size: clamp(.9em, 3vw, 1.1em);
}

.noMatchMessage {
  font-size: clamp(.9em, 3vw, 1.1em);
  margin: 1em 0;
  color: red;
}

.questionList {
  list-style-type: none;
  padding: 0;
}

.questionList a {
  text-decoration: none;
  color: inherit;
}

.questionItem {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: .4em;
  margin-bottom: 1em;
  transition: box-shadow 0.2s;
}

.questionItem:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.profileImgContainer {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  overflow: hidden;
  position: relative;
}
.questionAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.questionText {
  flex: 1;
}

.questionInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.questionButton {
  background: linear-gradient(to right, #fe750b, #007bff);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* .loadingSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.spinner {
  border: 5px solid #ccc;
  border-top: 5px solid #fe750b;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
} */

.parentContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}



.profileImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileImgCircle {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.paginationButton {
  background-color: #ff7800;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.paginationButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.paginationButton:hover:not(:disabled) {
  background-color: #de7518;
}

.pagination span {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

/* Spinner animation keyframes */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
