:root {
    --primary-color: #007bff;
    --primary-shade: #d49644;
    --button-color: linear-gradient(310deg, #007bff, #007bff);
    --Text-color: linear-gradient(310deg, #000000, #e33f00);
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

.dropdown-toggle::after {
    content: none !important;
}

/* Remove background color change on active and focus states for dropdown items */
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:active {
    background-color: transparent !important;
    color: inherit !important;
    outline: none !important;
}